.main {
  background-color: rgb(250, 255, 255);
  width: 100%;
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f0f0f0;
  font-size: 1.2em;
  background-color: rgb(250, 255, 255);
}

.head h2 {
  margin: 0;
  padding: 0;
}

.headImg img {
  width: 30px;
  height: 30px;
}

.img {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stmt {
  margin: 2em 1em;
  padding: 10px;
  font-size: calc(5px + (20 - 14) * ((100vw - 339px) / (605 - 139)));
  background-color: #f0f0f0;
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 2em 1em;
}

.cardBox {
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 300px;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: hidden;
  padding-top: 20px;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 10px;
  font-size: calc(5px + (20 - 14) * ((100vw - 339px) / (605 - 139)));
  text-align: center;
}

@media only screen and (min-width: 339px) and (max-width: 605px) {
  .head {
    font-size: 1.2em;
    padding: 3px;
  }

  .headImg img {
    width: 25px;
    height: 25px;
  }

  .img {
    height: 150px;
  }

  .stmt {
    font-size: calc(16px + (20 - 14) * ((100vw - 339px) / (605 - 439)));
  }

  .cardBox {
    width: 100%;
    max-width: 250px;
  }

  .cardContent {
    font-size: 0.7em;
  }
}
