.main{
    background-color: aquamarine; 
}

.navG{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    max-width: 100%;
    background-color: rgb(255, 214, 48);
}
.navGImg{
    margin-left: 10px;
}

.img{
  position: relative;
  min-width: 100%;
  min-height: 400px;
  background-color: antiquewhite;
}

.stmt{
    background-color: chartreuse;
    border: 2px solid black;
}

.card {
  display: flex;
  gap: 20px;
  background-color: aliceblue;
  max-width: 100vw;
  max-height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.cardBox{
    border: 3px solid black;
}

.cardImg {
  position: relative;
  left: 125px;
  width: 100%;
  height: 50%;
}

.cardContent {
  padding: 20px;
  background-color: #fff;
}

.cardContent>h2 {
  margin: 0;
  font-size: 1.5rem;
}

.cardContent>p {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.2;
}