/* Styles for the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the title */
.container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
  color: #444;
}

/* Styles for the input fields */
.container input[type="date"] {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles for the search button */
.container button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #75aeea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for the result div */
.result {
  margin-top: 2rem;
}

/* Styles for the data that gets displayed */
.result div {
  min-width: 25vw;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.result h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #007bff;
  display: inline-block;
  margin-right: 1.8em;
}

.result p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #444;
}
