 
      .testbox div form input select { 
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        color: #666;
        line-height: 22px;
      }
      .testbox h1 h4 {
        margin: 15px 0 4px;
        font-weight: 400;
      }
      .testbox span {
        color: red;
      }
      .testbox {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 3px;
      }
      .testbox form {
        width: 100%;
        padding: 20px;
        background: #fff;
        box-shadow: 0 2px 5px #ccc; 
      }
      .testbox input {
        width: calc(100% - 10px);
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        vertical-align: middle;
      }
      .testbox input:hover textarea:hover select:hover {
        outline: none;
        border: 1px solid #095484;
      }
      
      .testbox select {
        padding: 7px 0;
        border-radius: 3px;
        border: 1px solid #ccc;
        background: #e6eef7;
      }
      .testbox option {
        background: #fff;
      }
      .testbox select table {
        width: 100%;
      }
      .dayVisited  {
        position: relative;
      }
      .dayVisited input  {
        max-width: 150px;
        background: #e6eef7;
      }
     
      .testbox input[type="date"]::-webkit-inner-spin-button {
        display: none;
      }
      
      .questionAnswer label {
        display: block;
        padding: 0 20px 10px 0;
      }
      .questionAnswer input {
        width: auto;
        margin-top: -2px;
      }
      .testbox th td {
        width: 18%;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
        text-align: center;
        vertical-align: unset;
        line-height: 18px;
        font-weight: 400;
        word-break: break-all;
      }
      .firstCol {
        width: 25%;
        text-align: left;
      }
      .testbox textarea {
        width: calc(100% - 6px);
      }
      .btnBlock {
        margin-top: 20px;
        text-align: center;
      }
      .btnCancel{
        margin-left: 44%;
      }
      .testbox button {
        width: 150px;
        padding: 10px;
        border: none;
        -webkit-border-radius: 5px; 
        -moz-border-radius: 5px; 
        border-radius: 5px; 
        background-color: #095484;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
      }
      .testbox button:hover {
        background-color: #0666a3;
      }
     
      /* Mobile Screen */
      @media (min-width: 568px) {
      .name {
        display: flex;
        justify-content: space-between;
      }
      .name input {
        width: 47%;
        margin-bottom: 0;
      }
      .testbox th td {
        word-break: keep-all;
      }
    }

    @media (max-width: 420px) {
        .btnCancel{
        margin-left: 30%;
      }
    }