/* nav */

.navG{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    max-width: 100%;
    background-color: rgb(255, 214, 48);
}
.navG img{
    width: 50px;
    height: 60px;
    margin-left: 10px;
}
.navG li {
    display: inline;
    list-style: none;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
}
.navG a {
    text-decoration: none;
    color: #FFFFFF;
}
.navG a:hover {
    padding: 0.2em;
    background-color: rgb(235, 241, 246);
    border-radius: 0.3em;
    color: #57727C;
}

/* Header */
.header{
  background-image: url("../public/images/services.webp");/*use '../', for path*/
  max-width:100%;
  height: 500px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.headerText {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 300px;
    position: relative;
    top: 15vh;
    left: 5vw;  
}
.headerText h1{
   background-color: rgb(137, 111, 111);
   color: azure;
   font-weight: bolder;
   margin-right: auto; /* 1 */
   padding: 4px;
}
.headerText p{
    font-size: clamp(1.2rem, 5vw + 1rem, 1.2rem); 
}
.button {
    max-width: 10vw;
    border-radius: 15px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
.button1:hover {
   background-color: rgb(255, 214, 48);
   color: #FFFFFF;
}


/* Features */
.features{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 5px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
}
.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.card__text {
    position: absolute;
    /* bottom: 0;  */
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}
.cardFixedWidth {
  max-width: 250px;
}
.card__text a{
    text-decoration: none;
}

/* Youtube Section */
.yt{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5em;
    margin-bottom: 4em;
}
.ytVidContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ytVid iframe{
     padding: 10px;
     border-radius: 50px 20px;
}
.ytTxt{
    position: relative;
    bottom: 0;
    text-align: center;
    color: #57727C;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 15px;
    border: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

/* Footer */
.foot{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    max-width: 700px;
    justify-content: center;
    margin: auto;
    border-radius: 50px 50px;
    border: 3px solid black;
    background-color: #f8f8f8;
}
.footCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footCard h3 {
    text-align: center; 
}
.footCard h2{
    position: relative;
    bottom: 11rem;
    right: 25rem;
    text-align: center;
    color: #57727C;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 5px 15px;
    border: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}    
.footCard iframe{
    padding: 15px 15px;
}

/* Copyright */
.copyright {
  margin-top: 50px;
  width: 100%;
  height: auto;
  background-color: rgb(255, 214, 48);
}
.copyrt p{
  padding: 0.5em 0.5em;
  font-size: 1.1rem;
  text-align: center;
}

.bottom{
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 214, 48);
    inset: auto 0 0;
    text-align: center;
    font-size: 1.2rem;
}