/* nav */

.hamburger{
    display: none;
}
.navG{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    max-width: 100%;
    background-color: rgb(255, 214, 48);
}
.navG img{
    width: 50px;
    height: 60px;
    margin-left: 10px;
}
.navG li {
    display: inline;
    list-style: none;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
}
.navG a {
    text-decoration: none;
    color: #FFFFFF;
}
.navG a:hover {
    padding: 0.2em;
    background-color: rgb(235, 241, 246);
    border-radius: 0.3em;
    color: #57727C;
}
.navMenu li a{
  font-size: clamp(1.2rem, 5vw + 1rem, 1.2rem);
}

/* nav - Mobile*/
@media (max-width: 420px) {
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }
    .navMenu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -100%;
        gap: 0;
        width: 100%;
        background-color: rgb(255, 214, 48);
        text-align: center; 
        transition: 0.7s;
    }
    .navLink{
        margin: 16px 0;
    }
    .navLink{
        transition: 0.7s ease;
    }
    .navMenu a{
        font-size: 1.2rem;
        margin-right: 45px;
    }   
    .navMenu.active{
        top: 46px;
    }
    .hamburger{
        display: block;
        margin-right: 10px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Header */
.header{
  background-image: url("../public/images/services.webp");/*use '../', for path*/
  max-width:100%;
  min-height: 500px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.headerText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 250px;
    min-height: 500px;
    position: relative;
    top: 7vh;
    left: 5vw;  
}
.headerText h1{
   background-color: rgb(137, 111, 111);
   color: azure;
   font-style: italic;
   font-weight: bolder;
   margin-right: auto; /* 1 */
   padding: 4px;
}
.headerText p{
    font-size: clamp(1.2rem, 5vw + 1rem, 1.2rem); 
}
.button {
    max-width: 10vw;
    border-radius: 15px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
.button1:hover {
   background-color: rgb(255, 214, 48);
   color: #FFFFFF;
}
/* Header- Mobile */
@media (max-width : 420px) {
   .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headerText {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-height: 500px;
    position: relative;
    top: 27vh;
    left: 5vw;  
  }
  .headerText h1{
    margin-right: auto;
  }
  .headerText p{
      font-size: 4.8vw; 
      font-weight: bold;
  }
   .button {
    max-width: 30vw;
    border-radius: 15px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
   }
   .button1 {
    background-color: rgb(255, 214, 48);
    color: black; 
    border: 2px solid #4CAF50;
    }
}
/* Header - Tablet View */
@media (min-width : 425px) and (max-width:1000px){
  .header{
    position: relative;
    top: 20px;
    bottom: 50px;
    background-image: url("../public/images/services.webp");/*use '../', for path*/
    max-width:100%;
    min-height: 500px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 70%;
  }
  .headerText {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 250px;
      min-height: 400px;
      position: relative;
      top: 0.1vh;
      left: 5vw;  
  }
  .headerText h1{
    background-color: rgb(137, 111, 111);
    color: azure;
    font-style: italic;
    font-weight: bolder;
    margin-right: auto; /* 1 */
    padding: 4px;
  }
  .headerText p{
      font-size: 2.2vw; 
      font-weight: bold;
  }
  .button {
      max-width: 15vw;
      border-radius: 15px;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 2vw;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
  }
  .button1 {
      background-color: white; 
      color: black; 
      border: 2px solid #4CAF50;
  }
  .button1:hover {
    background-color: rgb(255, 214, 48);
    color: #FFFFFF;
  }
}

/* Features */
.features{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 5px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 25px;
}
.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.card__text {
    position: absolute;
    /* bottom: 0;  */
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}
.cardFixedWidth {
  min-width: 300px;
}
.card__text a{
    text-decoration: none;
}

/* Features- Mobile */
@media (max-width : 420px) {
   .features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 225px;
   }
   .card__text h3{
    font-size: 1.2rem;
   }
   .card--fixedWidth:nth-child(3) {
     min-width: 275px;
    }
}

/* Features - Tablet View */
@media (min-width : 425px) and (max-width:1000px){
 .card__text {
    font-size: 1.4vw;
    font-weight: bolder;
 }
}


/* Youtube Section */
.yt{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5em;
    margin-bottom: 4em;
}
.ytVidContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ytVid iframe{
     padding: 10px;
     border-radius: 50px 20px;
}
.ytTxt{
    position: relative;
    bottom: 0;
    text-align: center;
    color: #57727C;
    font-size: 1vw;
    font-weight: 700;
    padding: 5px 15px;
    border: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

/* youtube - mobile */
@media (max-width: 420px) {
  .ytTxt{
    font-size: 3.5vw;
  }
}

/* youtube - Tablet View */
@media (min-width : 425px) and (max-width:1000px){
  .ytTxt{
    font-size: 1.8vw;
  }
}

 /* Footer */
@media (min-width: 450px) {
  .foot{
      display: flex;
      flex-direction: row;
      flex-basis: auto;
      max-width: 700px;
      justify-content: center;
      margin: auto;
      border-radius: 50px 50px;
      border: 3px solid black;
      background-color: #f8f8f8;
  }
  .footCard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .footCard h3 {
      text-align: center; 
      margin: 0;
  }
  .footCard h2{
      position: relative;
      bottom: 8.5rem;
      right: 25rem;
      text-align: center;
      color: #57727C;
      font-size: 1.2rem;
      font-weight: 900;
      padding: 5px 15px;
      border: 1px solid #D7DBDD;
      background-color: #EEF3F5;
  }    
  .footCard iframe{
      padding: 15px 15px;
  }
}

/* Footer - Mobile */
@media (max-width : 420px) {
    .foot{
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        justify-content: center;
        margin-top: 10vh;
        border-radius: 50px 50px;
        border: 3px solid black;
        background-color: #f8f8f8;
    }
     .footCard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footCard iframe{
      padding: 15px 15px;
    }
    .footCard h2{
        position: relative;
        bottom: 23rem;
        margin: 0;
        text-align: center;
        color: #57727C;
        font-size: 1.2rem;
        font-weight: 900;
        padding: 5px 15px;
        border: 1px solid #D7DBDD;
        background-color: #EEF3F5;
    } 
}


/* Copyright */
.copyright {
  margin-top: 50px;
  width: 100%;
  /* overflow: hidden; */ /* to remove any extra whitespace below a div*/
  height: auto;
  background-color: rgb(255, 214, 48);
}
.copyrt p{
  padding: 0.5em 0.5em;
  font-size: 1.1rem;
  text-align: center;
  margin: 0;  /* to remove any extra whitespace below a div*/
}
/* Copyright - Mobile*/
@media (max-width:420px) {}


/* bottom div */
.bottom{
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 214, 48);
    inset: auto 0 0;
    text-align: center;
    font-size: 1.2rem;  
}
.bottom p {
  margin: 0;
  padding: 0.5em 0.5em;
}

/* bottom div - Mobile*/
@media (max-width:420px) {
 .bottom{
  display: none;
 }
}

/* bottom - Tablet View */
@media (min-width : 425px) and (max-width:1000px){
  .bottom{
    display: none;
  }
}