/* nav */

.hamburger{
    display: none;
}
.navG{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    min-width: 100%;
    background-color: rgb(255, 214, 48);
}
.navG img{
    width: 50px;
    height: 60px;
    margin-left: 10px;
}
.navG li {
    display: inline;
    list-style: none;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
}
.navG a {
    text-decoration: none;
    color: #FFFFFF;
}
.navG a:hover {
    padding: 0.2em;
    background-color: rgb(255, 214, 48);
    border-radius: 0.3em;
    color: #57727C;
}
.navMenu li a{
  font-size: clamp(1.2rem, 5vw + 1rem, 1.2rem);
}
.navLink img{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 1px;
}
.navG a:hover>img{
  background-color: rgb(255, 214, 48);
}

/* nav - Mobile*/
@media only screen and (min-width: 300px) and (max-width: 650px){
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }
    .navMenu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -100%;
        gap: 0;
        min-width: 100%;
        background-color: rgb(255, 214, 48);
        text-align: center; 
        transition: 0.7s;
    }
    .navLink{
        margin: 16px 0;
    }
    .navLink img{
      width: 40px;
      height: 35px;
      position: absolute;
      top: 85%;
      right: 45%;
    }
    .navG li {
      display: inline;
      list-style: none;
      padding: 0.8em;
      text-decoration: none;
      font-weight: bold;
    }
    .navLink{
        transition: 0.7s ease;
    }
    .navMenu a{
        font-size: 1.2rem;
        margin-right: 45px;
    }   
    .navMenu.active{
        top: 46px;
    }
    .hamburger{
        display: block;
        margin-right: 10px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Header - General Styles */
.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 450px;
  padding: 2rem;

  background-image: url("../public/images/services.webp");
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerText {
  width: 40%;
  float: left;
}

 .headerText h1{
    display: inline-block;
    background-color: rgb(137, 111, 111);
    color: azure;
    font-style: italic;
    font-weight: bolder;
    font-size: clamp(16px, 1.5vw, 20px);
    margin-right: auto; /* 1 */
    padding: 4px;
  }

.headerText p {
  font-size: clamp(16px, 1.5vw, 20px);
  margin-bottom: 1.5rem;
}

.button {
      min-width: 10vw;
      border-radius: 15px;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
  }
  .button1 {
      background-color: white; 
      color: black; 
      border: 2px solid #4CAF50;
  }
    
  .button1:hover {
    background-color: rgb(255, 214, 48);
    color: #FFFFFF;
  }

@media only screen and (min-width: 300px) and (max-width: 440px) and (500px <= height <= 930px){
   .header{
    min-width:100%;
    min-height: 35em;
    background-position-x: center;
  }
  .headerText {
    float: none;
    position: absolute;
    top: 30em;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: none;
    padding: 0 1em;
  }
}

@media only screen and (min-width: 440px) and (max-width: 549px) and (500px <= height <= 930px) {
  .header{
    min-width:100%;
    min-height: 35em;
    background-position-x: center;
  }
   .headerText {
    float: none;
    position: absolute;
    top: 32em;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: none;
    padding: 0 1em;
  }
}

@media only screen and (min-width: 550px) and (max-width: 650px) and (500px <= height <= 930px){
  .header{
    min-width:100%;
    min-height: 36em;
    background-position-x: center;
  }
  .headerText {
    float: none;
    position: absolute;
    top: 33em;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: none;
    padding: 0 1em;
  }
}

@media only screen and (min-width: 651px) and (max-width: 1000px) and (500px <= height <= 930px){
  .header{
    min-width:100%;
    min-height: 39em;
    background-position-x: center;
  }
  .headerText {
    float: none;
    position: absolute;
    top: 36em;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: none;
    padding: 0 1em;
  }
}

@media only screen and (min-width: 651px) and (max-width: 800px) and (500px <= height <= 930px) {
   .header{
    min-height: 40em;
  }
   .headerText {
    top: 38em;
  }
}

@media only screen and (min-width: 801px) and (max-width: 999px) and (500px <= height <= 930px) {
   .header{
    min-height: 45em;
  }
   .headerText {
    top: 43em;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  .header{
    min-width:100%;
    min-height: 400px;
    background-position-x: right;
  }
  .headerText {
    width: 30%;
     margin-left: 2em;
  }
}

@media only screen and (min-width: 1310px)  {
   .headerText {
    margin-left: 2em;
  }
}


/* Features */
.features{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 5px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 25px;
}
.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.card__text {
    position: absolute;
    /* bottom: 0;  */
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}
.cardFixedWidth {
  min-width: 300px;
}
.card__text a{
    text-decoration: none;
}

/* Features- Mobile */
@media only screen and (min-width: 330px) and (max-width: 650px) {
   .features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
   }
   .card__text h3{
    font-size: 1.2rem;
   }
   .card--fixedWidth:nth-child(3) {
     min-width: 275px;
    }
}

/* Features - Tablet View */
/* @media (min-width : 425px) and (max-width:1000px){
 .card__text {
    font-size: 1.4vw;
    font-weight: bolder;
 }
} */


/* Youtube Section */
.yt{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5em;
    margin-bottom: 4em;
}
.ytVidContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 15em;
}
.ytVid iframe{
     min-height: 15em;
     padding: 10px;
     border-radius: 50px 20px;
}
.ytTxt{
    position: relative;
    bottom: 0;
    text-align: center;
    color: #57727C;
    font-size: 1vw;
    font-weight: 700;
    padding: 5px 15px;
    border: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

/* youtube - mobile View */
@media only screen and (min-width: 330px) and (max-width: 650px){
  .ytTxt{
    font-size: 3.8vw;
  }
}

/* youtube - tablet view */
/* @media (max-width: 420px) {
  .ytTxt{
    font-size: 3.5vw;
  }
} */

 /* Footer */
.foot{
      display: flex;
      flex-direction: row;
      flex-basis: auto;
      max-width: 700px;
      justify-content: center;
      margin: auto;
      border-radius: 50px 50px;
      border: 3px solid black;
      background-color: #f8f8f8;
  }
  .footCard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .footCard h3 {
      text-align: center; 
      margin: 0;
  }
  .footCard h2{
      position: relative;
      bottom: 8.5rem;
      right: 25rem;
      text-align: center;
      color: #57727C;
      font-size: 1.2rem;
      font-weight: 900;
      padding: 5px 15px;
      border: 1px solid #D7DBDD;
      background-color: #EEF3F5;
  }    
  .footCard iframe{
      padding: 15px 15px;
  }

/* Footer - Mobile */
@media only screen and (min-width: 330px) and (max-width: 650px) {
    .foot{
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        justify-content: center;
        margin: 5vh 3vw;
        border-radius: 50px 50px;
        border: 3px solid black;
        background-color: #f8f8f8;
    }
     .footCard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footCard iframe{
      padding: 15px 15px;
    }
    .footCard h2{
        position: relative;
        bottom: 23rem;
        margin: 0;
        text-align: center;
        color: #57727C;
        font-size: 1.2rem;
        font-weight: 900;
        padding: 5px 15px;
        border: 1px solid #D7DBDD;
        background-color: #EEF3F5;
    } 
}


/* Copyright */
.copyright {
  margin-top: 50px;
  width: 100%;
  /* overflow: hidden; */ /* to remove any extra whitespace below a div*/
  height: auto;
  background-color: rgb(255, 214, 48);
}
.copyrt p{
  padding: 0.5em 0.5em;
  font-size: 1.1rem;
  text-align: center;
  margin: 0;  /* to remove any extra whitespace below a div*/
}

/* bottom div */
.bottom{
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 214, 48);
    inset: auto 0 0;
    text-align: center;
    font-size: 1.2rem;  
}
.bottom p {
  margin: 0;
  padding: 0.5em 0.5em;
}

/* bottom div - Mobile*/
@media (max-width:420px) {
 .bottom{
  display: none;
 }
}

/* bottom - Tablet View */
@media (min-width : 425px) and (max-width:1000px){
  .bottom{
    display: none;
  }
}


/*---social-icons---*/
@media (min-width : 1200px) {
  .socialIcons {
    width: 3.5rem;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
  .socialIcons img {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto 1.5rem;
    cursor: pointer;
  }
}

/* for mobile view */
.socialIcons img {
  margin-top: 1em;
  margin-left: 1em;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}