.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height of the container to the viewport height */
}

.main h3{
    display: block;
    margin: 0 auto;
}

.btn{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #75aeea;
  color: #fff;
  border: none;
  border-radius: 5px;
}