.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(148, 135, 135, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #681af9; /* change color of the spinner here */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}