.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(255, 247, 160);
    border: 2px solid black;
    max-width: 30em;
    min-height: 500px;
    margin: 5% auto;
    border-radius: 40px;
    flex-wrap: wrap;
}

/*Mobile View */
@media (max-width:420px) {
  .main{
    margin: 22vh 5vw;
  }
}

.main h2{
  background-color: #299bed;
  border-radius: 10px;
  padding: 20px;
  color: white;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3) inset, 0 -3px 3px rgba(255, 255, 255, 0.1) inset;
}

.goglBtn{
  align-self:center;
  margin-top: 25%;
}
/*Mobile View - goglBtn */
@media only screen and (min-width: 339px) and (max-width: 485px) {
  .goglBtn{
   align-self:center;
   margin-top: 35%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-width: 500px;
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #2d1919;
  border-radius: 20px;
}

.formLabel {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.formLabel span{
  color: red;
}

.formInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 1.2rem;
}

.formButton {
  background-color: #0077cc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.formButton:hover {
  background-color: #005faa;
}

.main p {
  position: absolute;
  bottom: 0;
  line-height: 33px;
  border-bottom: 2px solid black;
  font-size: larger;
  font-weight: bold;
  text-align: center; /* add this property */
}

.main h3 {
  cursor: pointer;
}


